<div class="row text-center">
  {% for vehicule in vehicules %}
   <div class="col-sm-4">
     <div class="thumbnail">
       <a href="{{ path('sell_auto.view', {'id': vehicule.id }) }}">
         <img src="{{ vehicule.url }}" alt="Paris" width="400" height="300">
         <p><strong>{{ vehicule.marque }}</strong></p>
         <p>Energie : {{ vehicule.energie }}</p>
       </a>
     </div>
   </div>
 {% endfor %}
</div>
