<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="{{ path('sell_auto.cart') }}" class="">
      <span class="glyphicon glyphicon-shopping-cart"></span> Cart
      <span id="badge-panier" class="badge">{{ get_number_of_car_in_cart() }}</span>
    </a>
  </li>
</ul>
