<div>
  <ul class="">
    <li role="" class="active">
      <a href="#">Home</a>
    </li>
    <li role="">
      <a href="#">Profile</a>
    </li>
    <li  role="">
      <a href="#">Messages</a>
    </li>
  </ul>
</div>
<div class="container-fluid text-muted">
  <p class="text-center"> @ Buy Car 2018</p>
</div>
